body{
  background:url(https://i.pinimg.com/originals/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg);
}
.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.forms{
  justify-content: flex-end;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
#loginform{
  border: 1px solid black;
  width: 30%;
  display:block;
}
#regform{
  border: 1px solid black;
  width: 30%;
  display:none;
}